In [3]:
import numpy as np
import pandas as pd


# this is not to show warnings

import warnings
warnings.filterwarnings('ignore')


# this it the most common viz library in python

import matplotlib.pyplot as plt

# this one is the above on steroids


import seaborn as sns


df = pd.read_csv(r'C:\Users\Anderson\Desktop\learningSet.csv\learningSet.csv')
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [ ]:
#Check for null values in all the columns

In [4]:
categorical_columns = df.select_dtypes(include=['object'])
print(categorical_columns.columns)

Index(['OSOURCE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE', 'NOEXCH', 'RECINHSE',
       'RECP3', 'RECPGVG', 'RECSWEEP', 'MDMAUD', 'DOMAIN', 'CLUSTER',
       'AGEFLAG', 'HOMEOWNR', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18',
       'GENDER', 'DATASRCE', 'SOLP3', 'SOLIH', 'MAJOR', 'GEOCODE', 'COLLECT1',
       'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'PETS', 'CDPLAY', 'STEREO',
       'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER',
       'KIDSTUFF', 'CARDS', 'PLATES', 'LIFESRC', 'PEPSTRFL', 'RFA_2', 'RFA_3',
       'RFA_4', 'RFA_5', 'RFA_6', 'RFA_7', 'RFA_8', 'RFA_9', 'RFA_10',
       'RFA_11', 'RFA_12', 'RFA_13', 'RFA_14', 'RFA_15', 'RFA_16', 'RFA_17',
       'RFA_18', 'RFA_19', 'RFA_20', 'RFA_21', 'RFA_22', 'RFA_23', 'RFA_24',
       'RFA_2R', 'RFA_2A', 'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [ ]:
#Exclude the following variables by looking at the definitions. 
#Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:
#OSOURCE - symbol definitions not provided, too many categories
#ZIP CODE - we are including state already

In [5]:
drop_list = []

drop_list.append('OSOURCE')
drop_list.append('ZIP CODE')

In [6]:
#Identify columns that over 85% missing values


null_df = categorical_columns.isnull().sum() / len(categorical_columns)
threshold = 0.85
columns_above_threshold = null_df[null_df > threshold]
print(columns_above_threshold)

Series([], dtype: float64)

In [ ]:
#Remove those columns from the dataframe
#no columns dropped

In [ ]:
#Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest
#Note that there are a few null values in the column. We will first replace those null values using the code below:
#print(categorical['GENDER'].value_counts())
#categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [7]:
print(categorical_columns['GENDER'].value_counts())

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [8]:
print(categorical_columns['GENDER'].value_counts())
categorical_columns['GENDER'] = categorical_columns['GENDER'].fillna('F')

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [9]:
categorical_columns['GENDER'] = categorical_columns['GENDER'].replace({'M': 'M', 'F': 'F'}).fillna('other')

In [10]:
print(categorical_columns['GENDER'].value_counts())

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64